* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#app {
  padding: 1rem;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.title {
  font-size: 2rem;
}

input {
  padding: 0.5rem;
  width: 67%;
}

.transformers {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.output {
  width: 67%;
  height: 3.75rem;
  padding: 0.5rem;
  background-color: #f5f5dc;
  position: relative;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.case {
  background-color: #111;
  color: #fff;
  padding: 0.25rem;
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  font-size: 0.8rem;
}
